<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <style>   
            ul{ 
                list-style-type: none;
            }
            h1,p{   
                display: inline;
            }
      </style>
</head>
<body>
        <div id="app">  
            <ul>    
                <li v-for="(cor, i) in cores"
                 :key="cor"> {{i + 1}}) - {{cor}} </li>
            </ul>
             <button @click="cores.push('Branca')">Adicione </button>
            <hr>
            <template v-for="(cor, i) in cores">  
                <h1>{{cor}}</h1>
                <p> {{i + 1}}</p>
            </template>

           
           <ul>
                <li v-for="pessoa in pessoas">
                    
                    <div v-for="valor, chave, index in pessoa">
                    {{chave}} = {{ valor }} ({{index + 1}})
                    </div>
                </li>
          </ul>
          <hr>
          <div v-for="n in 10"> {{n}}</div>
    <script>    

        new Vue({   
            el:'#app',
            data:{  
                cores: ['Vermelhor', 'Azul', 'Verde', 'Amarelo'],
                pessoas:[
                    {nome: 'Anthony' ,idade: 20, peso: 80},
                    {nome: 'Lucas', idade: 20, peso: 80}
                ]
            }

        })
    
    </script>
</body>
</html>